/* .header{
    width: 100%;
    height: 56px;
    position: fixed;
    top:56px;
    left:0;
    background-color: #7c0707;
}
.header__row{
    display: flex;
    justify-content: space-between;
    height: 56px;
}
.container{
    max-width: 1400px;
    margin:0 auto;
}
.nav{
    display: flex;
    list-style: none;
    height: 100%;
}
.nav__link{
    color:white;
    display: block;
    text-decoration: none;
    line-height: 56px;
    height: 56px!important;
} */
.lang{
    position: relative;
    width: 64px;
    height: 56px;
}

.sub-menu{
    width: 64px;
    height: 100%;
    position: relative;
}
.sub-menu__row{
    display: flex;
    width: 64px;
    flex-direction: column;
}
.sub-menu li{
    display: none!important;
    margin:0!important;
    padding:3px 0px!important;
    text-align: center;
    width: 100%;
    line-height: 1!important;
    border:none!important;
    color:white;
    background-color: rgb(10, 10, 88);
}
.lang:hover .sub-menu li{
    display: block!important;
}
.select_r{
    text-decoration: none;
    border:none!important;
    color: white;
    background-color:rgb(124, 7, 7);
    overflow: visible;
    position: relative;
    text-indent: none;
    width: 64px;
    height: 56px;
}
.option_form{
    color:violet;
}
.years{
    display: flex;
    flex-direction: column;
}
.loginform{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.degree{
    display: flex;
    justify-content: center;
    align-items:center;
}
.degree__title{
    text-align: center;
    border-bottom: 2px solid rgb(10, 10, 88)!important;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border:none;
    padding: 10px;
    margin-bottom: 10px;
}
.mt-3{
    margin-top:10px;
}
.icac{
    color:red!important;
    border-color:red!important;
}
.years__title{
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    padding: 10px;
    background-color:white;
    margin-bottom: 10px;
}
.spanEL{
    font-weight: 400;
    text-transform: none!important;
}
.active{
    color:white;
    background-color:rgb(10, 10, 88);
}
.containers{
    border:2px solid rgb(26, 23, 23);
    width: 100%;
    display: flex;
    justify-content: center;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#intro h2{
    text-align: center;
}
.sciense__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.button{
    list-style: none;
    border-radius:10px;
}
.sciense__post{
    border-radius:10px;
    max-width: 400px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background:white;
    padding: 20px 10px;
}
.sciense__rows{
    display: flex;
    flex-direction: column;
}
.sciense__posts{
    border-radius:10px;
    height: 200px;
    display: flex;
    background:white;
    margin-top: 10px;
    justify-content: center;
    align-items:center;
}
.sciense__img{
    width: 100%;
    border-radius:10px;
}
.sciense__imgs{
    height: 100%;
    border-radius:10px;
}
.sciense__year{
    text-align: center;
}
.sciense__title{
    text-align: center;
}
.sciense__block-img{
    width: 100%;

}
.sciense__block-imgs{
    height: 100%;
    flex-basis: 30%;
}

.logo_img_block{
    width: 150px;
}
.logo_img{
    border-radius:10px;
    width: 100%;
}

.hide{
    display: none;
}
.like{
    flex-basis: 70%;
}
.like__title{
    font-size: 25px;

    margin:0;
    font-weight: 700;
}
.paragraph{
    font-size: 18px;
    font-weight: 500;
}
.paragrapht{
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 550px){
    .sciense__block-imgs{
        height: 50%;
        margin-left: 20px;
    }
    .sciense__imgs{
        border-radius:50%;
    }
    .sciense__posts{
        height: 100px;
    }
    .paragraph{
        display: none;
    }
    .like__title{
        font-size: 14px;
    }
}

