{% extends 'app.html' %}
{% block content%}

				<!-- Main -->
					<div id="main">
						<div class="sciense__row">
						<!-- Post -->
							<article class="sciense__post">	
								<div class="sciense__block-img">
									<img class="sciense__img" src="images/бакдаулет.jpg" alt="">
								</div>
								<h2 class="sciense__title">Болат Бакдаулет</h2>	
								<h4 class="sciense__year">2019 жыл иегері</h4>
								<h3 class="sciense__year">Тақырыбы:<span>2d анимация арқылы Қазақстан орнаменттерін көрсету</span></h3>
								<p class="sciense_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio beatae nulla ut veniam maiores, placeat odit, aut nostrum autem deserunt. Temporibus ratione cumque reprehenderit modi voluptas nulla cum nemo!</p>
								<a href="#" class="button">Толығырақ</a>
							</article>
							<article class="sciense__post">	
								<div class="sciense__block-img">
									<img class="sciense__img" src="images/даулет.jpg" alt="">
								</div>
								<h2 class="sciense__title">Кожақан Даулет</h2>	
								<h4 class="sciense__year">2020 жыл иегері</h4>
								<h3 class="sciense__year">Тақырыбы: 2d анимация арқылы Қазақстан орнаменттерін көрсету</h3>
								<p class="sciense_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio beatae nulla ut veniam maiores, placeat odit, aut nostrum autem deserunt. Temporibus ratione cumque reprehenderit modi voluptas nulla cum nemo!</p>
								<a href="#" class="button">Толығырақ</a>
							</article>
							<article class="sciense__post">	
								<div class="sciense__block-img">
									<img class="sciense__img" src="images/дияр.jpg" alt="">
								</div>
								<h2 class="sciense__title">Шавкатов Дияр</h2>	
								<h4 class="sciense__year">2019 жыл иегері</h4>
								<h3 class="sciense__year">Тақырыбы: 2d анимация арқылы Қазақстан орнаменттерін көрсету</h3>
								<p class="sciense_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio beatae nulla ut veniam maiores, placeat odit, aut nostrum autem deserunt. Temporibus ratione cumque reprehenderit modi voluptas nulla cum nemo!</p>
								<a href="#" class="button">Толығырақ</a>
							</article>
							<article class="sciense__post">	
								<div class="sciense__block-img">
									<img class="sciense__img" src="images/ernazar.jpeg" alt="">
								</div>
								<h4 class="sciense__year">2020 жыл иегері</h4>
								<h3 class="sciense__year">Тақырыбы: 2d анимация арқылы Қазақстан орнаменттерін көрсету</h3>
								<p class="sciense_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio beatae nulla ut veniam maiores, placeat odit, aut nostrum autem deserunt. Temporibus ratione cumque reprehenderit modi voluptas nulla cum nemo!</p>
								<a href="#" class="button">Толығырақ</a>
							</article>
						</div>

						

						

						<!-- Pagination -->
							<div class="sciense__row">
								<a href="" class="disabled button big previous">Previous Page</a>
								<a href="#" class="button big next">Next Page</a>
							</div>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="images/photo.png" alt="" /></a>
								<h2>Silkway халықаралық университетінің Грант Иегерлерінің тізімі</h2>
							</section>

						<!-- Mini Posts -->
							<section class="years">
								<a class="years__title" href="">Жылдар бойынша тізім</a>
								<a class="years__title active" href="">2020</a>
								<a class="years__title" href="">2019</a>
								<a class="years__title" href="">2018</a>
								<a class="years__title" href="">2017</a>
							</section>
							

						

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

{% endblock %}