{% extends 'app.html' %}
{% block title %}
<title>
    Silkway халықаралық университетінің грант иегерлерінің тізімі
</title>
{% endblock %}
{% block content%}

{% load static %}

<div id="main">
    <h2>Сіз лүпілдеткен грант иегерлері</h2>
    <div class="sciense__rows">		
        <!-- Post -->
        
        {% for qhol in qhols %}
            <article class="sciense__posts">
             
                <div class="sciense__block-imgs">
                    <img class="sciense__imgs" src="{{ qhol.post.poster.url }}" alt="">
                </div>
                <div class="like">
                    <p class="like__title">{{ qhol.post.name }} </p>	
                    <p class="like__title paragraph">{{ qhol.post.graduate_year }} жылғы грант иегері</p>
                    <p class="like__title paragraph">Тақырыбы: {{ qhol.post.project_name }}</hp>
                </div>	
                
               
            </article>
            {% endfor %}
        </div>

    

</div>

<!-- Sidebar -->
<section id="sidebar">
    <!-- About -->
    <section class="blurb">
        <div >
            <i class="icon fa-star"></i>
            <h2>ЛүпілҚор</h2>
        </div>
        
        <p>Университеттің ғылыми-зерттеу жұмысы педагогика мен психология, құқықтану, экономика және жаратылыстану ғылымдарының басым бағыттары бойынша іргелі ғылымдар мен қолданбалы зерттеулерді дамытуға бағытталған.</p>
        
    </section> 

                		  
                           

{% endblock %}