<!-- Main -->
{% extends 'app.html' %}
{% load static %}
{% block title %}
<title>
    {{qhol.graduate_year}} жылғы білім грант иегері {{qhol.name}}
</title>
{% endblock %}
{% block content %}
<div id="main">

    <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">{{ qhol.name }}</a></h2>
                    <h2><a href="#">{{ qhol.degree }}</a></h2>
                    <p>Silkway халықаралық университетінің {{qhol.graduate_year}} жылғы білім грант иегері</p>
                </div>
                <div class="meta">
                    <div class="logo_img_block">
                        <img class="logo_img" src="{{ qhol.poster.url }}" alt="" />
                    </div>
                    
                </div>
            </header>
            <h3>Жоба тақырыбы: <span class="spanEL">{{ qhol.project_name }}</span></h3>
            <h3>Ғылыми жетекші: <span class="spanEL">{{qhol.teacher}}</span></h3>
            <h3>Жобаның мерзімі:<span class="spanEL">{{qhol.project_duration}}</span></h3>
            <h3>Жобаның мақсаты: <span class="spanEL">{{qhol.purpose_project}}</span></h3>
            <h3>Жоба мақсатына жету жолы:</h3>
            {% autoescape off %}{{ qhol.ways_project }}{% endautoescape %}
            <h3>Күтілетін нәтижелер:</h3>
            {% autoescape off %}{{qhol.expected_result}}{% endautoescape %} 
            <h3>Ғылыми жұмыстың жаңалығы</h3>
            {% autoescape off %}{{ qhol.novelty_scientific }}{% endautoescape %} 
          
            <footer>
                <ul class="stats">
                    <li><a href="#">Ұсыну</a></li>
                    {% if isLiked %}
                    <button type="submit" class="icon fa-heart" > {{like.count}}</button>
                    {% else %}
                        <form id ="p" method="POST" action="{%url 'like' qhol.slug%}">
                            {% csrf_token %}
                            <button type="submit" class="icon fa-heart" > {{like.count}}</button>
                        </form>
                    {% endif %}
                </ul>
            </footer>
        </article>

</div>

<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            <a href="#" class="logo"><img src="{% static 'images/photo.png' %}" alt="" /></a>
            <h2>Silkway халықаралық университетінің Грант Иегері</h2>
        </section>

    <!-- Mini Posts -->
        <!-- <section class="years">
            <a class="years__title" href="">Жылдар бойынша тізім</a>
            <a class="years__title active" href="">2020</a>
            <a class="years__title" href="">2019</a>
            <a class="years__title" href="">2018</a>
            <a class="years__title" href="">2017</a>
        </section> -->
        

    

    <!-- About -->
        <section class="blurb">
            <h2>Біз жайлы</h2>
            <p>Университеттің ғылыми-зерттеу жұмысы педагогика мен психология, құқықтану, экономика және жаратылыстану ғылымдарының басым бағыттары бойынша іргелі ғылымдар мен қолданбалы зерттеулерді дамытуға бағытталған.</p>
            <ul class="actions">
                <li><a href="{% url 'home' %}" class="button">Артқа "Грант иегерлерінің тізіміне"</a></li>
            </ul>
        </section> 

        <script>
        
            

        </script>
{% endblock %}